body {
    box-sizing: border-box;
}

main {
    margin-top: 100px;
}

a {
    text-decoration: none;
}

.left-sidebar .list-group .list-group-item {
    font-size: 14px;
    color: #222;
}

.left-sidebar .list-group .list-group-item:hover {
    color: #FFF;
    background-color: #222;
}

article {
    padding: 20px;
}

article p {
    text-align: justify;
    text-justify: inter-word;
    margin-top: 30px;
}

article .row .col-lg-2 {
    position: absolute;
    right: 0;
}

.forgot-password {
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.forgot-password a {
    color: #222;
}


