{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> MAITAG </title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Local CSS -->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'maitag_app/style.css' %}">  
  </head>
  <body>
    {% if user.is_authenticated %}
      <header>
        <nav class = "navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
          <div class = "container">
            <a href = "{% url 'home' %}" class = "navbar-brand fw-bold"> [ MAITAG ] </a>
            <button
            class = "navbar-toggler"
            type = "button"
            data-bs-toggle = "collapse"
            data-bs-target = "#navmenu"
            >
            <span class = "navbar-toggler-icon"></span>
            </button>

            <div class = "collapse navbar-collapse" id = "navmenu">
              <ul class = "navbar-nav ms-auto">
                  <a href = "{% url 'users:rest_logout' %}"> 
                      <button class = "btn btn-outline-light"> Logout </button>
                  </a>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    {% else %}
      <header>
        <nav class = "navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
          <div class = "container">
            <a href = "{% url 'home' %}" class = "navbar-brand fw-bold"> [ MAITAG ] </a>
            <button
            class = "navbar-toggler"
            type = "button"
            data-bs-toggle = "collapse"
            data-bs-target = "#navmenu"
            >
            <span class = "navbar-toggler-icon"></span>
            </button>

            <div class = "collapse navbar-collapse" id = "navmenu">
              <ul class = "navbar-nav ms-auto">
                  <li class = "nav-item me-3">
                      <a href = "{% url 'users:register' %}" class = "nav-link"> Register </a>
                  </li>
                  <a href = "{% url 'users:rest_login' %}"> 
                      <button class = "btn btn-outline-light"> Login </button>
                  </a>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    {% endif %}
    <main class = "container">
      {% block content %}

      {% endblock %}
      {% if user.is_authenticated %}
      {% else %}
        <div class = "forgot-password">
          <a href = "{% url 'users:password-reset-request' %}"> Forgot password? </a>
        </div>
      {% endif %}
    </main>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
