{% extends "maitag_app/base.html" %}



{% block content %}

    <div class = "left-sidebar">

        <div class = "row">
            <div class = "col-lg-2">
                <div class = "content-section">
                    <ul class = "list-group">
                        <a class = "list-group-item list-group-item-light" href = "{% url 'maitag_app:project-list' %}">
                            <span> Projects </span>
                        </a>
                        <a class = "list-group-item list-group-item-light" href = "{% url 'maitag_app:utterance-list' %}">
                            <span> Utterances </span>
                        </a>
                        <a class = "list-group-item list-group-item-light" href = "{% url 'maitag_app:intent-list' %}">
                            <span> Intents </span>
                        </a>
                        <a class = "list-group-item list-group-item-light" href = "{% url 'maitag_app:label-list' %}">
                            <span> Labels </span>
                        </a>
                        <a class = "list-group-item list-group-item-light" href = "{% url 'maitag_app:mlmodel-list' %}">
                            <span> MLModels </span>
                        </a>
                        <a class = "list-group-item list-group-item-light" href = "{% url 'maitag_app:classifier-list' %}">
                            <span> Classifiers </span>
                        </a>
                    </ul>
                </div>
            </div>
            <div class = "col-lg-8">
                <article class = "card">
                    <div class = "card-body">
                        <div class = "row">
                            <div class = "col-lg-10">
                                <h4 class = "text-dark"> 
                                    Machine Assisted Intent Tagging
                                </h4>
                            </div>
                            <div class = "col-lg-2">
                                <span class = "badge bg-success">
                                    <a class = "text-light" href = "https://gitlab.com/tangibleai/maitag/" target = "_blank"> in progress </a>
                                </span>
                            </div>
                        </div>
                        <p class = "card-text text-break">  
                            MAITAG is a collection of Machine learning models and API for natural language intent classification.
                        </p>
                        <a class = "btn btn-dark text-light" href = "{% url 'maitag_app:label-utterance' %}"> 
                            Make a prediction 
                        </a>
                        <p class = "card-text text-break">  
                            Link to the source code on <a href = "https://gitlab.com/tangibleai/maitag/" target = "_blank"> GitLab </a>
                        </p>
                    </div> 
                </article>                 
            </div>
        </div>

    </div>

{% endblock %}